body{
	background-color: black;
}

#gameboard {
	background-color: grey;

}

.player1Deck {
	height: 100px ;
	float: left;
}

.player1Card {

}

.player2Deck {
	height: 100px ;
	float: right;
}

.player2Card {

}

.img {

}

#beginbutton{
	position: center;
}