body{
	background-color: black;
	text-align: center;
}

#gameboard {
	background-color: grey;

}

.player1Deck {
	height: 5px ;
	float: left;
}

.player1Card {

}

.player2Deck {
	height: 100px ;
	float: right;
}

.player2Card {

}


#beginbutton{
	position: center;
}